@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-copy {
  user-select: none; /* Disable user selection */
  -webkit-touch-callout: none; /* Disable long tap options on mobile */
  -webkit-user-select: none; /* Disable user selection on webkit browsers */
  -khtml-user-select: none; /* Disable user selection on Konqueror */
  -moz-user-select: none; /* Disable user selection on Mozilla */
  -ms-user-select: none; /* Disable user selection on Microsoft browsers */
}
/* @media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
} */
.custom_datePacker-class input{
  outline: none;
}
